<!DOCTYPE html>
<html lang="en">

<head>
  {{>part1}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="indexpage.css" rel="stylesheet">
</head>

<body>
    <div class="containerBody">
        <div class="ingresoProducto">
            <form class="form" action="/guardar" method="POST" onsubmit="return addProducts(this)">
                <h2>Ingresar Producto</h2>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre de Producto</label>
                    <input type="text" id="text" required name="title"></input>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Precio</label>
                    <input type="number" id="price" required name="price"></input>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">URL de Imagen</label>
                    <input type="text" id="thumbnail" required name="thumbnail"></input>
                </div>
                <button type="submit" class="btn btn-primary button">Guardar</button>
            </form>
        </div>
        <div class="listContainer">
            <div class="list" id="list"></div>
        </div>
        <div class="chatContainer">
            <form id="chatForm">
                <label>Mensaje
                    <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                </label>
                <label>Email
                    <input id="email" type="email"></input>
                </label>
                <button class="btn btn-primary button">Send</button>
            </form>
            <div class="chat" id="chat"></div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="indexpage.js"></script>
</body>

</html>