html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
html,
body,
.productos {
    color: #dfe7bc,
}

.text {
    color: #b49ad1;
    font-style: italic;
    word-wrap: break-word;
  }

  

.containerBody {
  min-height: 100% !important;
  height: 110%;
}

.containerBody {
  background: blue;
}

.containerBody {
  display: flex;
}

.ingresoProducto {
  display: flex;
  padding: 5%;
  width: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #c0d9ee;
  flex-wrap: wrap;
}

.button {
  padding: -5%;
}

.listContainer {
  padding: -1%;
  width: 35%;
  background-color: #f6f4d2;
  overflow-y: auto;
  visibility: visible;
}

.chatContainer {
  padding: 1%;
  width: 45%;
  background-color: #f5e6ca;
  overflow-y: auto;
  visibility: visible;
}

.chatMessage {
  padding: 2%;
}

.chatemail {
  color: blue;
  font-weight: bold;
}

.chatmensaje{
  color: green;
  font-style: italic;
}

.chatfecha{
  font-size:xx-small;
}