body {
    background-color: #dbafd2
}

.text {
    color: #b49ad1;
    font-style: italic;
    word-wrap: break-word;
  }
  .email {
    color: #ff006a;
    font-weight: bold;
  }
  .date {
    color: #310080;
  }